body{
    background-color :rgb(255, 255, 255) ;
    }
     h1{
    color: white; ;
    font-family:ariel ;
    background: ;
    }
    p{
    color:rgb(2, 2, 2) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 30px;
    text-align: center;
    background: rgb(229, 100, 247);
    }