body{
    background-color: rgb(186, 250, 218) ;
    }
     h1{Roupas e Acessórios
    color: white ;
    font-family:ariel ;
    background: Temos vários tipos de roupas e acessórios: ;
    }
    p{
    color:rgb(108, 88, 155) ;
    font-family:Geneva ;
    font-size: 22 ;
    background: rgb(186, 250, 218);
    }