body{
    background-color :rgb(255, 255, 255) (230, 247, 238) ;
    }
     h1{Roupas e Acessórios
    color: white; ;
    font-family:ariel ;
    background: Temos vários tipos de roupas e acessórios: ;
    }
    p{
    color:rgb(2, 2, 2) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 30 ;
    text-align: center;
    background: rgb(224, 132, 236)(241, 255, 248);
    }